<template>
    <svg class="stroke-current text-white" stroke-width="4" width="100%" height="100%" viewBox="0 0 393 190">
        <path d="M161.954,120.12l-24.929,0l0,69.2l-112.096,0l0,-69.2l-24.929,0l32.396,-28.916l0,-22.664l18.351,0l0,6.283l30.23,-26.983l80.977,72.28Zm-87.664,31.239l0,-11.611l-11.886,0l0,11.611l11.886,0Zm11.912,-11.611l0,11.611l12.368,0l0,-11.611l-12.368,0Zm-23.798,-20.421l0,12.487l11.886,0l0,-12.487l-11.886,0Zm23.798,0l0,12.487l12.368,0l0,-12.487l-12.368,0Z"/>
        <path d="M367.733,189.32l-112.096,0l0,-69.2l-24.929,0l80.977,-72.28l30.229,26.983l0,-6.283l18.352,0l0,22.664l32.396,28.916l-24.929,0l0,69.2Zm-62.601,-37.961l0,-11.611l-11.04,0l0,11.611l11.04,0Zm25.126,-11.611l-13.215,0l0,11.611l13.215,0l0,-11.611Zm-36.166,-20.421l0,12.487l11.04,0l0,-12.487l-11.04,0Zm22.951,0l0,12.487l13.215,0l0,-12.487l-13.215,0Z"/>
        <path d="M278.327,189.32l-150,0l0,-92.599l-33.358,0l108.358,-96.721l40.451,36.107l0,-8.407l24.557,0l0,30.327l43.35,38.694l-33.358,0l0,92.599Zm-81.38,-50.797l0,-14.222l-17.162,0l0,14.222l17.162,0Zm31.232,-14.222l-16.114,0l0,14.222l16.114,0l0,-14.222Zm-48.394,-28.641l0,18.57l17.162,0l0,-18.57l-17.162,0Zm32.28,0l0,18.57l16.114,0l0,-18.57l-16.114,0Z"/>
    </svg>
</template>

<script>
    export default {
    }
</script>
