<template>
    <svg width="100%" height="100%" viewBox="0 0 204 205">
        <path d="M98.931,0c-12.898,27.746 -17.026,69.687 -15.786,120.315c-20.148,-32.038 -45.171,-55.328 -76.131,-67.966c0.735,23.423 24.337,60.421 54.142,101.099c-21.579,-4.904 -42.103,-6.187 -61.156,-2.426c5.2,15.625 28.25,23.391 62.914,26.044c-5.358,4.704 -7.022,14.885 -7.075,27.456l45.115,-17.263l49.676,16.763c-0.486,-13.637 -5.441,-23.357 -15.788,-28.348c42.967,-4.294 62.27,-12.586 68.941,-23.014c-21.464,-5.53 -44.254,-4.934 -67.598,-1.774c36.557,-39.014 59.854,-69.935 66.344,-90.6c-20.081,2.973 -49.556,26.167 -82.852,57.586c2.905,-61.124 -5.097,-98 -20.746,-117.872Z"/>
    </svg>
</template>

<script>
    export default {
    }
</script>
