<template>
    <div>
        <p>dfdfdfdfdfddddssf</p>
        <div class="bg-red-light rounded m-4 w-full">
            Street Corner
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            
        }
    }
</script>
