<template>
<div>
    <div class=" container mx-auto flex flex-wrap overflow-auto">
        <neighborhood v-for="neighborhood in neighborhoods" :key="neighborhood.id" />
    </div>
    <div class="bg-black w-full fixed pin-b flex justify-around">
        <svg-weed class="fill-current text-green-dark w-1/10" />
        <svg-weed class="fill-current text-green-dark w-1/10" />
        <svg-weed class="fill-current text-green-dark w-1/10" />
        <svg-weed class="fill-current text-green-dark w-1/10" />
        <svg-weed class="fill-current text-green-dark w-1/10" />
    </div>
</div>
</template>

<script>
    import Neighborhood from './Neighborhood.vue';
    export default {
        mounted() {
            this.getNeighborhoods();
        },
        components: {
            Neighborhood
        },
        data() {
            return {
                neighborhoods: []
            }
        },
        methods: {
            getNeighborhoods() {
                axios.get('/neighborhoods').then(response => {
                    this.neighborhoods = response.data['neighborhoods'];
                });
            }
        }
    }
</script>
