<template>
    <div class="w-1/2 sm:w-1/3 md:w-1/4">
        <div class="bg-blue-light rounded-lg m-1 p-1">
            <svg-neighborhood class="stroke-current text-blue-light" />
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            
        }
    }
</script>
