
@tailwind preflight;

@import '~normalize.css';
@import '~suitcss-base/lib/base.css';

.panel {
    @apply .bg-white .border .rounded .px-8 .py-6 .w-full;
}
.frm-label {
    @apply .block .text-grey-darker .text-sm .font-bold .mb-2;
  }
  .frm-input {
    @apply .appearance-none .border .border-grey-light .rounded .w-full .py-2 .px-3 .text-grey-darker;
  }
  .btn {
    @apply .font-bold .py-2 .px-4 .rounded .border .border-grey;
  }
  .btn-blue {
    @apply .bg-blue .text-white .border-0;
  }
  .btn-blue:hover {
    @apply .bg-blue-dark;
  }
  .btn-nav {
    @apply .text-grey .no-underline .p-4;
  }

@tailwind utilities;
